<%- include("partials/_header") %>

<div>
  <div>
    <div>
      <table>
        <thead>
          <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Correo</td>
            <td>Telefono</td>
            <td>Chose Wisely</td>
          </tr>
        </thead>
        <tbody>
          <% if (customers) { %> <% for(var i = 0; i < customers.length; i++) {
          %>
          <tr>
            <td><%= (i + 1) %></td>
            <td><%= customers[i].name %></td>
            <td><%= customers[i].address %></td>
            <td><%= customers[i].phone %></td>
            <td class="d-flex gap-2">
              <a href="/update/<%= customers[i].id %>">
                Edit
              </a>
              <a href="/delete/<%= customers[i].id %>">
                Delete
              </a>
            </td>
          </tr>
          <% } %> <% } %>
        </tbody>
      </table>
    </div>
    <div>
      <div>
        <form action="/add" method="POST">
          <input
            type="text"
            name="name"
            placeholder="Nombre"
            autofocus
          />
          <input
            type="email"
            name="address"
            placeholder="Direccion"
          />
          <input
            type="tel"
            name="phone"
            placeholder="Numero"
          />

          <button type="submit">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include("partials/_footer") %>
